services:
  backend:
    build:
      context: .
      target: backend
    volumes:
    - "data:/app/data"
    environment:
      - pluralkit__status__auth_token=${AUTH_TOKEN}
      - pluralkit__status__notification_webhook=${NOTIFICATION_WEBHOOK}
      - pluralkit__status__notification_role=${NOTIFICATION_ROLE}
      - pluralkit__status__db_location=file:/app/data/status.db
    restart: unless-stopped

  frontend:
    build:
      context: .
      target: frontend
    environment:
      - BACKEND_URL=http://backend:8080
    restart: unless-stopped

  caddy:
    image: caddy:latest
    volumes:
    - ./Caddyfile:/etc/caddy/Caddyfile
    cap_add:
      - NET_ADMIN
    ports:
    - "5080:5080"

volumes:
  data: